.App {
  text-align: start;
}

body {
  background-color: white;
}


.NavButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}


.input[type=text],input[type=password]
{
  border: 2px solid gray;
  border-bottom: 1px solid lightgray;
}

.font-size {
  font-size: 10px;
  
  margin-top: 6px;
  margin-bottom: 7px;
  color: white;
  font-style: inherit;
  
  
}


.menu {
  background-color: brown;
  width: 1250px;
  height: 60px;
  display: flex;
  padding: 0 40px;
 
  margin-left: 60px;
  margin-right: 60px;
  text-decoration: none;
  
}

/* .container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
  margin-left: 115px;

} */

.outline {
  margin-left: 60px;
  margin-right: 60px;
  width: 1250px;
  height:700%;
  border: 1px solid gray;
}
.book-outline {
display: flex;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
align-items: center;
border: 1px solid gray;
margin-left: 10px;
margin-right: 10px;
}
.bookCompartment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}
.Book {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(202, 198, 198);
  padding-right: 5px; 
  padding-left: 5px;
  margin: 15px;
  width: 220px;
}
.books{
  display: 'flex'; 
  flex-direction: row;
  flex-wrap:'wrap'; 
  margin-left: '90px';
  margin-right: '90px'; 
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.box {
  display: block;
  position: absolute;
  width: 628px;
  height: 608px;
  flex-direction: column;
}

.image {
  
  margin-right: 40px;
  margin-left: 40px;
  position: absolute;
  overflow: hidden;
  
}



/* .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  color: white;
  height: 50px;
} */

.btn-style-remove {
  margin-left: 20px;
  background-color: white;
  border: black;
}

.btn-style-count {
  margin-left: 135px;
}

.placeorder-btn {
  margin-left: 780px;
  background-color: rgb(55, 0, 255);
  color: white;
  margin-bottom: 10px;
}

.customer{
  margin-top: 0px;
  margin-right: 500px;
  margin-bottom: 5px;
  margin-left: 29px;
  background-color: white;
  border: black;
}

.order-summary {
  margin-right: 507px;
  margin-top: 0px;
  margin-left: 29px;
  background-color: white;
  border: black;
  margin-bottom: 5px;
}

.cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.cartList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-right: 5px;
  padding-left: 5px;
  margin: 15px;
  padding: 20px;
}

.style-number-text {
  margin-left: 11px;
  width: 201px;
  height: 30px;
  margin-right: 0px;
}
.style-locality-text {
  
  width: 200px;
  height: 30px;
  margin-right: 0px;
}

.style-address-text {
  margin-right: 13px;
  margin-left: 61px;
  margin-top: 5px;
  width: 412px;
  height: 50px;
}

.style-pincode-text {
  margin-left: 61px;
  margin-right: 13px;
  margin-top: 5px;
  width: 200px;
  height: 30px;
}

.style-type-text {
  margin-bottom: 10px;
}

.style-name-text {
  height: 30px;
  width: 200px;
  margin-left: 61px;
}

.radio {
  margin-top: 10px;
}

.btn-style-custom {
  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 34px;
  background-color: white;
  border: white;
  width: 150px;
}

.cart-outline {
  margin-left: '200px';
  margin-right: '200px';
  margin-top: '20px'; 
  margin-bottom: '20px';
  outline-style: 'groove';
  outline-width: 'thin'; 
}

.subtraction-btn {
  width: '25px';
  margin-left: '4px';
  border-radius: '25px';

}


.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: brown;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: brown;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: brown;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em; 
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}


.Main_view {
  height: 80vh;
  display: flex;
  margin-left: 30%;
  
  color: white;
}

.App__Aside {
  width: 50%;
}

.App_Img {
  height: 409px;
  width: 420px;
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 100%;
}
.App__Form {
  width: 50%;
  outline-style: groove;
  outline-color: #F5F5F5;
  outline-width: 0.1px;
  background-color: 	#fbfcfd ;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link_SignIn {
  color:blue;
  font-size: 1.7em;
  margin: 0 125px;
  padding-bottom: 5px;
  
}

.FormTitle__Link_SignUp {
  color: #707C8B;
  font-size: 1.7em;
  margin: 0 7px;
  padding-bottom: 5px;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: brown;
}

.FormField__Input {
  width: 85%;
  background-color: transparent; 
  border: none;
  color:1px solid #445366;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: blue;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: .5cm;
  font-weight: 500;
  width: 150px;
  height: 43px;
  
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
  margin-left: 10px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em; 
}

.CheckboxLabel {
  color: brown;
  font-size: .9em;
}

.FormField__Admin {
  position: relative;
  top: 1.5px;
}

.FormField__User {
  /*position: relative;*/
  top: 1.5px;
  margin-left: 20px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.FormField_Create_account {
  background-color: #66707D;;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  font-size: .8em;
  font-weight: 500;
  width: 150px;
  height: 43px;
  margin-left: 30px;
}
